body {
  background-color: teal;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: teal;
}
.Header{
  position: fixed;
  top: 50px;
  height: 10vh;
}
.Heading {
  color: white;
  font-size: 3.5rem;
  font-family:'Courier New', Courier, monospace;
}
.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.xobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color:turquoise;
  color:white;
  font-size: 3rem;
  width: 85px;
  height: 85px;
  text-align: center;
  border: none;
  /* align-items: center; */
  /* align-items: ; */
  margin: 10px;
  font-family: "Permanent Marker", cursive;
}

.green {
  color: green;
}

.red {
  color: red;
}

.win {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  height: 100px;
  width: 300px;
  padding: 10px 5px 0 5px;
  border-radius: 30px;
  margin-bottom: 10px;
  color: rgb(212, 18, 18);
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.winningMsg{
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  word-spacing: 2px;
}
.restartdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.restart {
  outline: none;
  transition: 0.1s;
  position: relative;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(204, 7, 7, 0.883);
  color: white;
  height: 35px;
  width: 150px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  font-family:  'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bolder;
}
.restart:hover {
  background-color: rgb(161, 15, 15);
}
